/**
 * @name DDEX4
 * @description Discord's scrapped Design Experiment V4, made real.
 * @author Blade0
 * @authorId 1124341362955919371
 * @version 1.0.0
 * @updateUrl https://blade04208.github.io/ddex4/ddex4.theme.css
 * @source https://github.com/Blade04208/ddex4
 * @invite KEcCnVuTV7
 */
 
@import url(https://blade04208.github.io/ddex4/import.css);

/* change USERNAME to your username */
[data-author-username="the.rabbit.disabler"] {
/*------------------------------------------------------------------ */
[class^=contents_]>[class*=messageContent_]:not(:empty) {
  background: var(--brand-500);
  -ms-flex-align: end;
  color: var(--onPrimary);
}
[class^=contents_]:hover>[class*=messageContent_]:not(:empty) {
  background: var(--brand-600);
}
}
