.container_c8ffbb,
.members_c8ffbb,
.member__5d473,
.chat_f75fb0,
.sidebarList_c48ade,
.container__2637a,
.privateChannels__35e86,
.scroller__99e7c,
section.panels_c48ade,
.container__37e49 {
  background: transparent !important;
  background-color: transparent !important;
  border: none !important;
}

.members_c8ffbb,
.guilds_c48ade,
.chatContent_f75fb0,
/* .sidebarList_c48ade, */
.layerContainer_da8173,
.app__160d8 {
  contain: strict !important;
}

.typingDots_b88801,
.vc-typing-indicator-dots {
  contain: paint !important;
}

.theme-darker:not(.custom-theme-background) {
  --bg-base-tertiary: #171717;
  --background-base-lowest: var(--bg-base-tertiary) !important;
  --background-base-lower: #272727 !important;
  --background-surface-higher: #2c2c2c !important;
  --background-floating: var(--background-surface-higher) !important;
  --bg-surface-overlay: var(--background-surface-higher) !important;
  --bg-surface-raised: var(--background-surface-higher) !important;
  --chat-background-default: var(--background-base-lower) !important;
  --background-primary: var(--background-base-lower);
  --background-secondary: var(--bg-base-tertiary);
  --background-tertiary: var(--bg-base-tertiary);
  --background-secondary-alt: var(--background-surface-higher);
  --modal-background: var(--background-floating);
  --modal-footer-background: var(--background-floating);
  --background-base-low: var(--background-base-lower);
  /* make darker OGG DDEX4 colors, who needs another import */
}

/* CHAT - - - - - - - - - - - - - - - - - - - - - - - - - */

.chatContent_f75fb0 {
  margin: 0 0 32px 16px;
  border-radius: 0 0 var(--radius-lg) var(--radius-lg);
  border-left: 1px solid var(--border-subtle);
  border-right: 1px solid var(--border-subtle);
  border-bottom: 1px solid var(--border-subtle);
}

.title_f75fb0 {
  width: calc(100% - 16px);
  margin: 0 0 0 16px;
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  height: var(--custom-channel-header-height) !important;
  height: 64px !important;
  padding-right: 20px!important;
  border-left: 1px solid var(--border-subtle);
  border-right: 1px solid var(--border-subtle);
  border-top: 1px solid var(--border-subtle);
}

.dot__9293f {
  scale: 2;
}

.icon__9293f {
  scale: 0.8398320336;
  --channel-icon: var(--header-primary);
}

.topic__6ec1a {
  --text-tertiary: color-mix(in oklab, var(--neutral-40) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
  font-weight: 300 !important;
}

.title__9293f {
  font-weight: 450 !important;
}

.modeSelected__2ea32 {
  .link__2ea32 {
    background: var(--brand-500);
  }
  &:hover .link__2ea32 {
    background: var(--brand-460);
  }
}

.page_c48ade {
  z-index: 3;
}

.page_c48ade:has(.membersWrap_c8ffbb) .title_f75fb0 {
  width: calc(100% - var(--custom-member-list-width) - 16px);
}

.page_c48ade:has(.panel_c0bea0) .title_f75fb0 {
  width: calc(100% - 340px - 16px);
}

.content_c48ade {
  margin-right: 16px;
}

.container__133bf,
.applicationStore_f07d62,
.shop__6db1d,
.container_a592e1 {
  margin: 0 0 16px 16px;
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.search__97492:not(.open__97492) {
  .searchBar__97492 {
    width: 22px;
    background: transparent;
    border: none;
  }

  .icon__97492 {
    cursor: pointer;

    .iconContainer_fea832 {
      margin-top: 3px;
      transform: scale(1.25);

      .icon_fea832 {
        color: var(--interactive-normal);
      }

      &:hover>svg.icon_fea832 {
        color: var(--interactive-active);
      }
    }
  }

  &:hover::before {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    word-wrap: break-word;
    z-index: 1002;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-normal);
    padding: 8px 12px;
    background-color: var(--background-floating);
    content: 'Search';
    box-shadow: var(--elevation-high);
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
  }

  &:hover::after {
    content: '..';
    --aeiou: color-mix(in srgb, var(--background-floating), var(--border-subtle) 75%);
    overflow: hidden;
    font-size: 15px;
    position: absolute;
    z-index: 1003;
    top: calc(100% + 4.7px);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 6.076px !important;
    height: 6.076px !important;
    background-color: var(--background-floating);
    background-image: linear-gradient(to bottom, var(--border-subtle) 0%, var(--border-subtle) 25%, transparent 25%), linear-gradient(to right, var(--aeiou) 0%, var(--aeiou) 25%, var(--background-floating) 25%), ;
    pointer-events: none;
    /* i was close ok? */
  }

  .DraftEditor-root {
    padding: 0px !important;
  }
}

/* TEXTBOX - - - - - - - - - - - - - - - - - - - - - -   */
.form_f75fb0 {
  padding: 0px !important;
}

.channelTextArea_f75fb0 {
  --custom-chat-input-margin-bottom: 2px;
  background: transparent !important;
  border: none !important;
  border-radius: 0px;
  --custom-channel-textarea-text-area-height: 70px;
}

.scrollableContainer__74017 {
  background: transparent !important;
  border-radius: 0px;
}

.channelAttachmentArea_b77158 {
  background: transparent !important;
  padding: 10px !important;
  border-top: 1px solid var(--border-subtle) !important;
  margin: 0px !important;
}

.inner__74017 {
  border-top: 1px solid var(--border-subtle) !important;
}
.attachButton__0923f {
  padding-left: 20px!important;
}
.buttons__74017 {
  padding-right: 8px;
}
.channelAppLauncher_e6e74f {
  display: none;
}
/* MEMBERS - - - - - - - - - - - - - - - - - - - - - - - */
.membersWrap_c8ffbb {
  top: calc(0px - var(--custom-channel-header-height));
  height: calc(100vh - var(--custom-app-top-bar-height)) !important;
  max-height: none !important;
  background: transparent !important;
}
.members_c8ffbb {
  height: calc(100vh - var(--custom-app-top-bar-height)) !important;
}
:root {
  --custom-member-list-width: 236px!important;
}

/* └ DMS -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
.outer_c0bea0.panel_c0bea0 {
  top: calc(0px - var(--custom-channel-header-height));
  margin-left: 8px !important;
  border-radius: var(--radius-lg) !important;
  overflow: hidden;
  height: calc(100% + var(--custom-channel-header-height) - 16px) !important;
}

/* CHANNELS - - - - - - - - - - - - - - - - - - - -  - - */
.sidebarList_c48ade,
.sidebar_c48ade,
.container__2637a {
  overflow: visible !important;
  z-index: 2 !important;

  .scroller__629e4 {
    width: calc(100% + 24px);
  }
}

.link__2ea32 {
  border-radius: var(--radius-md) 0 0 var(--radius-md);
  height: 40px;
  justify-content: center;
  gap: var(--spacing-12) !important;

  .iconContainer__2ea32 {
    scale: 0.8;
    width: 15px;
  }
}

.containerWithMargin_eff079 {
  margin: 12px 16px;
}

.header_f37cb1 {
  width: calc(100% + 16px);
}

.containerDefault__29444 .mainContent__29444 {
  gap: 8px;

  .icon__29444 {
    order: -1;
  }
}

.wrapperCommon__29444 {
  padding: 0 var(--space-lg);
}

/* 
.sidebarResizeHandle_c48ade {
  left: calc(var(--custom-guild-sidebar-width) + 16px);
  z-index: 1000 !important;
}

.sidebar_c48ade {
  width: calc(var(--custom-guild-sidebar-width) + 200px) !important;
} */

/* └ DMS -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
.privateChannels__35e86 .scroller__99e7c {
  margin-bottom: var(--custom-app-panels-height) !important;
}

/* └ BANNER -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
.animatedContainer_f37cb1 {
  position: fixed;
  width: calc(100vw - var(--custom-guild-list-width)) !important;
  height: 100vh !important;
  opacity: 1 !important;
  transform: translateX(calc(-85px + var(--custom-guild-list-width))) translateY(-95px) !important;
  background-color: transparent !important;
  border-bottom: none !important;
  box-shadow: none;
  margin-left: 5px;
  pointer-events: none;
}

.bannerImage_f37cb1 {
  transform: translateY(0px) scale(1) !important;
  pointer-events: none;
}

.bannerImg_f37cb1 {
  width: 100vw !important;
  height: 400px !important;
  mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}

.animatedBannerHoverLayer_f37cb1 {
  display: none;
}

.content__99f8c>div[aria-hidden="true"][style="height: 84px;"] {
  height: 16px !important;
}

.headerEllipseForeground_f37cb1,
.headerGlass_f37cb1,
.headerEllipseBackdrop_f37cb1 {
  display: none !important;
}
/* { HEADER  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - */
.header_f37cb1 {
  padding: 16px 16px!important;
  min-height: none;
  align-items: end!important;
  height: auto!important;
}
.name_f37cb1 {
  font-size: 28px;
  font-weight: 300;
  text-overflow: unset;
  white-space: wrap;
}
.headerContent_f37cb1 {
  flex-direction: column;
  align-items: flex-start!important;
  gap: 8px;
}
.headerChildren_f37cb1 {
  display: none;
}
/* USERPANEL - - - - - - - - - - - - - - - - - - - - - - */
section.panels_c48ade {
  background: var(--background-base-lowest);
  left: 0px !important;
  bottom: 0px !important;
  width: calc(100% + 16px) !important;
  border: none !important;
  border-radius: 0px !important;
  border-top: 1px solid var(--border-subtle) !important;
  height: 80px;
  align-content: center;
}


/* GUILDS - - - - - - - - - - - - - - - - - - - - - - */
.guilds_c48ade {
  z-index: 3 !important;
  top: calc(var(--custom-app-top-bar-height) - var(--custom-app-top-bar-height) * 2);
  margin-bottom: calc(var(--custom-app-panels-height) - var(--custom-app-top-bar-height)) !important;
  background-color: transparent !important;
  border-right: 1px solid var(--border-subtle);
}

.itemsContainer_ef3116>.stack_dbd263 {
  padding-top: calc(var(--custom-app-top-bar-height) + 8px) !important;
}

:root {
  --size: 48;
  --guildbar-avatar-size: calc(var(--size) * 1px);
  --guildbar-folder-size: var(--g-48);
  --g-48: calc(var(--guildbar-avatar-size) + 8px);
  --g-19-r: calc((var(--size) / 2 - 1) / var(--size) * 40px);
  --g-40-r: calc(var(--guildbar-avatar-size) / (var(--size) + 8) * 48);
  --g-48-r: calc(var(--guildbar-avatar-size) * 48 / 40);
  --g-56-r: calc(var(--g-48) * 56 / 48);
  --g-4-r: calc((var(--g-48-r) - var(--guildbar-avatar-size)) / -2);
  --g-4-r-2: calc((var(--g-56-r) - var(--g-48)) / -2);
  --custom-guild-list-width: 80px;
}

.folderIcon__48112>.wrapper_cc5dd2 {
  width: var(--g-48) !important;
  height: var(--g-48) !important;
}

.folderIcon__48112>.wrapper_cc5dd2>.svg_cc5dd2 {
  width: var(--g-56-r);
  height: var(--g-56-r);
  top: var(--g-4-r-2);
  left: var(--g-4-r-2);
}

.svg_cc5dd2 {
  width: var(--g-48-r);
  height: var(--g-48-r);
  top: var(--g-4-r);
  left: var(--g-4-r);
}

.wrapper__6e9f8,
.icon__6e9f8,
.childWrapper__6e9f8 {
  width: 40px;
  height: 40px;
}

.folder__48112,
.folderIconWrapper__48112 {
  margin-top: 2px;
  width: 48px;
  height: 48px;
  justify-self: center;
  /* i love hardcoded values :money_mouth: */
}

.expandedFolderIconWrapper__48112 {
  width: var(--g-40-r);
  height: var(--g-40-r);
  margin: 0 !important;
}

.closedFolderIconWrapper__48112 {
  width: var(--g-40-r);
  height: var(--g-40-r);
  scale: 0.7441453272;
  /* :3 */
}

.guildIcon__48112 {
  width: var(--g-19-r);
  height: var(--g-19-r);
}

.stack_dbd263 {
  height: auto !important;
  padding-bottom: 4px !important;
}

.tutorialContainer__1f388 .svg_cc5dd2>mask>use[fill="black"] {
  display: none;
}

.tutorialContainer__1f388 .numberBadge__2b1f5 {
  outline: 2px solid var(--bg-base-tertiary);
  border-radius: 50%;
}

.unreadMentionsIndicatorBottom_ef3116,
.unreadMentionsIndicatorTop_ef3116 {
  width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2);
  padding: calc(var(--custom-guild-list-padding) / 2);
}

.circleIconButton__5bc7e {
  margin: -2px;
}

.expandedFolderBackground__48112 {
  left: calc(10px) !important;
}

.iconSizeMini_f34534 {
  border-radius: 50% !important;
}

.icon__6e9f8,
.childWrapper__6e9f8,
.circleIconButton__5bc7e {
  border-radius: var(--radius-lg) !important;
  overflow: hidden !important;
}

.childWrapper__6e9f8>svg,
.favoriteIcon_c9fddf {
  scale: 0.8350730689;
}

.circleIcon__5bc7e {
  scale: 0.8117706748;
}

/* └ PILLDOT -  -  -  -  -  -  -  -  -  -  -  -  -  - */
.pill_e5445c:not(:has(.item__58105[style*="height: 40px;"])) {
  width: 8px;
  height: 8px;
  right: 12px !important;
  bottom: -2px !important;
  top: auto !important;
  left: auto !important;
  background: var(--header-primary);
  border-radius: 50%;
  border: 4px solid var(--bg-base-tertiary);
  z-index: 3;
  pointer-events: none;
}

.pill_e5445c:has(.item__58105[style*="height: 40px;"]) {
  pointer-events: none;
  width: var(--custom-guild-list-width);
  justify-content: center;
  align-content: center;
  z-index: 10;
  overflow: visible !important;
  margin-left: 2px;
  margin-top: 0px;

  .item__58105 {
    width: 45px;
    height: 45px !important;
    border-radius: calc(var(--radius-lg) + 3px);
    background-color: transparent;
    border: 2px solid var(--brand-500);
  }
}

.isExpanded__48112 .pill_e5445c {
  border-color: color-mix(in srgb, var(--bg-base-tertiary), var(--background-mod-subtle) 5%) !important;
}

.isExpanded__48112>.listItem__650eb>.pill_e5445c:first-of-type {
  display: none;
}

.lowerBadge_cc5dd2 {
  z-index: 4;
}

.listItem__650eb {
  overflow: visible !important;
}

/* TITLEBAR - - - - - - - - - - - - - - - - - - - - - */
:root {
  --custom-app-top-bar-height: 32px !important;
}

.bar_c38106 {
  height: var(--custom-app-top-bar-height) !important;
  padding: 0px 0px var(--space-4) !important;
z-index: 2;
}

.title_c38106 {
  display: none !important;
}

.trailing_c38106 {
  gap: var(--space-4) !important;

  /* scale: 0.8333333333; */
  .winButtons_c38106 {
    gap: 0px !important;
    padding-right: 4px;
  }
}


/* :root {
    --bg-base-tertiary: rgba(0, 0, 0, 0) !important;
  --background-base-lowest: rgba(0,0,0,0.2) !important;
  --background-base-lower: rgba(0, 0, 0, 0.2) !important;
  --background-surface-higher: rgba(0, 0, 0, 0.2) !important;
  --background-floating: rgba(255,255,255,0.2) !important;
  --bg-surface-overlay: rgba(255,255,255,0.2) !important;
  --bg-surface-raised: rgba(255,255,255,0.2) !important;
  --chat-background-default: rgba(0,0,0,0.3) !important;
  --background-primary: rgba(0,0,0,0.3);
  --background-secondary: rgba(0,0,0,0.2);
  --background-tertiary: rgba(0,0,0,0.2);
  --background-secondary-alt: rgba(255,255,255,0.2);
  --modal-background: var(--background-floating);
  --modal-footer-background: var(--background-floating);
  --background-base-low: rgba(0,0,0,0.3);
}
.app__160d8,
.appMount__51fd7,
body,
.panels_c48ade {
  background: transparent !important;
} */