.visual-refresh .panels_c48ade {
  bottom: 0px;
  left: 0px;
  width: calc(100% + 15px);
  border-radius: 0px;
  border: 0px;
  border-top: 1px solid var(--border-subtle);
  background: rgba(0, 0, 0, 0.001) !important;
  backdrop-filter: blur(20px);
  padding-bottom: 4px;
  padding-left: 6px;
  z-index: 200;

  >[class^="container_"] {
    padding: 0px;
    padding-right: ;
    margin: 0 8px;
    height: 57px;
  }
}


.visual-refresh body:has(.sidebar_c48ade[data-collapsed="true"]) .panels_c48ade {
  width: calc(100% - 1px);
}

.sidebar_c48ade {
  overflow: visible !important;
}

[data-list-item-id="guildsnav___home"]>div {
  background-color: rgba(255, 255, 255, 0.1);
}

ul[class^="content_"] {
  overflow: visible !important;
}

[style="height: 135px;"] {
  height: 0px !important;
}

[class^="layer_"]:has([class^="standardSidebarView_"]),
[class^="standardSidebarView_"] {
  background: rgba(0, 0, 0, 0) !important;
  backdrop-filter: blur(20px) brightness(50%);
  z-index: 200; /*fixes bettersettings */

  [class^="userInfo_"] {
    position: relative;
    top: -120px;
    height: 0px;

    [class*="avatar_"] {
      top: 0px !important;
    }
  }
}

#app-mount [class*="baseLayer_"] {
  opacity: 1 !important;
}

[class^="sidebarRegion_"] {
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0) !important;

  >div {
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0) !important;

    >nav {
      width: 300px;
      background-color: rgba(0, 0, 0, 0) !important;
    }
  }
}

[class^="contentColumn_"] {
  min-width: 0px;
  max-width: 100vw;
}

[class^="contentRegion"] {
  background: rgba(0, 0, 0, 0) !important;
}

.visual-refresh .sidebar_c48ade>[class*="guilds_"] {
  margin-bottom: 0px;
  padding-top: 32px;
  top: -32px;
  border-right: 1px solid var(--border-subtle);
  overflow: visible !important;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  height: calc(100% - 37px);

  [class^="stack_"] {
    padding-top: 32px;
    top: -32px;
  }

  [class^="itemsContainer_"] {
    background: rgba(0, 0, 0, 0) !important;
  }

  .unreadMentionsIndicatorBottom_ef3116 {
    margin-bottom: 32px;
  }
}


div:not(.imageContainer_ef9ae7)>.contentImage__42bf5 {
  left: 0px;
  position: absolute;
  z-index: -1;
  max-width: unset !important;
  width: 100% !important;
  height: 100% !important;
  filter: saturate(80%);
}

.container__0f2e8 {
  /* gradient */
  z-index: 0;
  overflow: hidden;
  background-color: black !important;
  margin-left: 0px;
  padding-left: 16px;
  height: 120px;
  border-radius: 0px 12px 12px 0px;

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0px;
    left: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(34, 64, 122, 0.6)), linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
    background-blend-mode: screen, difference, ligthen;
    border-radius: 0px 0px 0 0;
  }

  .infoSection__0f2e8 {
    height: 100%;
    justify-content: end;
    z-index: 0;

    .contentTitle__0f2e8::before {
      opacity: 0.75;
      content: "played ";
      font-size: 12px;
    }

    * {
      text-shadow: 0px 0px 10px rgb(0, 0, 0);
      overflow: visible !important;
      z-index: 1;
    }

    svg>path {
      box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
  }

  /* username */
  .userName__0f2e8 {
    position: relative;
    left: 12px;
    top: 5px;
  }

  /* below username text */
  .contentTitle__0f2e8 {
    position: relative;
    font-size: 13px;
    width: 150px;
    white-space: wrap;
    bottom: 3px;
    left: 50px;
  }

  .facePile__0f2e8,
  .facePileItem__0f2e8,
  .facePileItem__0f2e8 div,
  .facePileItem__0f2e8 svg,
  .facePileItem__0f2e8 foreignObject {
    top: 3px;
    width: 23px !important;
    height: 23px !important;
    contain: none;
    align-self: center;
  }

  .userSection__0f2e8 {
    gap: 8px;
  }

  .badgesContainer__635ed {
    position: absolute;
    bottom: calc(100% - 16px - 16px);
    width: calc(100% - 16px - 8px);
    justify-content: flex-end;

    .badgeContainer__635ed {
      backdrop-filter: saturate(3) blur(20px);
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      padding: 4px;

      svg path,
      [data-text-variant="text-xs/normal"] {
        text-shadow: none !important;
        color: #ffffff !important;
        fill: #ffffff !important;
      }
    }

    .badgeContainer__635ed:has([style*="color: var(--text-positive);"]) {
      background-color: var(--text-positive) !important;

      .tabularNumbers__4bd52 {
        color: #ffffff !important;
        text-shadow: none !important;
      }

      svg path {
        text-shadow: none !important;
        color: #ffffff !important;
        fill: #ffffff !important;
      }
    }

    .badgeContainer__635ed:has(path[fill="var(--status-positive)"]),
    .badgeContainer__635ed:has(path[d^="M4 12a8 8 0 0 1 14.93-4H15a1"]) {
      height: 16px !important;
      width: 16px;
      justify-content: center;

      .badgeLabel__635ed {
        display: none;

      }
    }
  }

}


.listItem__650eb:not(:has(.lowerBadge_cc5dd2)) .pill_e5445c:not(:has([style="opacity: 1; height: 40px; transform: none;"])) {
  width: 100%;
  justify-content: flex-end;
  z-index: 3;
  overflow: visible;
  pointer-events: none;

  span {
    border-radius: 100%;
    width: 8px;
    height: 8px !important;
    margin-right: 14.6px;
    margin-top: 28px;
    border: 5px solid var(--bg-base-tertiary);
    transition: all 0.25s;
  }
}

.listItem__650eb:has(.lowerBadge_cc5dd2) .pill_e5445c:not(:has([style="opacity: 1; height: 40px; transform: none;"])) {
  width: 100%;
  justify-content: flex-end;
  z-index: 3;
  overflow: visible;
  pointer-events: none;
  /* transition: all 0.25s; */
  span {
    border-radius: 100%;
    width: 8px;
    height: 8px !important;
    margin-right: 14.6px;
    margin-top: 28px;
    border: 5px solid var(--bg-base-tertiary);
    transition: all 0.25s;
  }


}

.listItem__650eb:not(:has([style="opacity: 1; height: 40px; transform: none;"])) {
  overflow: visible;
}

.listItem__650eb:has([class^="folderIcon_"]) .pill_e5445c:not(:has([style="opacity: 1; height: 40px; transform: none;"])) span {
  margin-right: 11px;
  margin-top: 36px;
}

.listItem__650eb:has(.lowerBadge_cc5dd2) .pill_e5445c:not(:has([style="opacity: 1; height: 40px; transform: none;"])) span {
  display: none;
}

.listItem__650eb:hover .pill_e5445c:not(:has([style="opacity: 1; height: 40px; transform: none;"])),
.listItem__650eb:has(.lowerBadge_cc5dd2):hover .pill_e5445c:not(:has([style="opacity: 1; height: 40px; transform: none;"])) {
  span {
    display: block !important;
    color: rgba(0, 0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    width: 47px !important;
    height: 48px !important;
    border-radius: 15.5px;
    margin-right: 12px;
    margin-top: 0px;
    transform: none !important;
    border: 2px solid white;
  }
}

.pill_e5445c {
  width: 100%;
  overflow: visible !important;
  opacity: 0.7;
}

.pill_e5445c [style="opacity: 1; height: 40px; transform: none;"] {
  right: 0;
  height: 53px !important;
  background-color: var(--background-accent);
  width: 64px;
  border-radius: 30% 0 0 30%;
  filter: drop-shadow(0px 14px 8px rgba(0, 0, 0, 0.1));
  pointer-events: none;
  animation: pillAnimateIn 0.3s backwards cubic-bezier(0, 0, 0, 1.4);
}

.pill_e5445c [style="opacity: 1; height: 40px; transform: none;"]::after,
.pill_e5445c [style="opacity: 1; height: 40px; transform: none;"]::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 30px;
  height: 30px;
  border-bottom-right-radius: 20px;
  box-shadow: 15px 15px 0 15px var(--background-accent);
}

.pill_e5445c [style="opacity: 1; height: 40px; transform: none;"]::before {
  top: 100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 20px;
  box-shadow: 15px -15px 0 15px var(--background-accent);
}

@keyframes pillAnimateIn {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
}




body:not(:has(.sidebar_c48ade[data-collapsed="true"])) [class^="sidebarResizeHandle_"] {
  right: -16px !important;
}

[class*="AppLauncher"] {
  display: none;
}

[class^="accountProfileCard_"]>svg {
  overflow: visible;
  min-height: unset !important;

  width: 100%;

  >foreignObject>div {
    mask-image: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 100%);
    background-size: cover;
  }

  >mask>circle {
    display: none;
  }
}



 .form_f75fb0 {
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: none;

  >div>div:not(.typingDots_b88801),
  >div>div>div {
    background-color: var(--background-primary);
  }
}



.channelBottomBarArea_f75fb0 {
  margin: 0px !important;

  div:not([class^="stackedBars_"], [class^="stackedBars_"] div, .autocomplete__13533, .autocomplete__13533 div) {
    border-radius: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

.chatContent_f75fb0 {
  margin-right: 0px;
  margin-left: 16px;
  border-radius: 16px;
  top: -56px;
  height: calc(100% + 56px - 16px);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

[class^="page_"]:not(:has(.chatContent_f75fb0)) {
  margin-left: 16px !important;
  border-radius: 16px;
  height: calc(100% - 24px) !important;
  width: calc(100% - 32px);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.subtitleContainer_f75fb0 {
  margin-left: 16px;
  z-index: 2;

  >section {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}

body:has(.sidebar_c48ade[data-collapsed="true"]) .chatContent_f75fb0 {
  margin-left: 0px;
}

body:has(.sidebar_c48ade[data-collapsed="true"]) .subtitleContainer_f75fb0 {
  margin-left: 0px;
  width: calc(100% - 269px);
}

body:not(:has(.members_c8ffbb)) .chatContent_f75fb0 {
  margin-right: 16px;
}

.subtitleContainer_f75fb0 {
  width: calc(100% - 32px);
}

/* fixes right side of main chat, aligns it with top bar */
/* makes it smaller so that the activity list in members isnt long as hell*/

.container_c8ffbb,
.membersWrap_c8ffbb,
.members_c8ffbb {
  width: 230px !important;
  min-width: 230px !important;
}

html:has(.members_c8ffbb) body:not(:has(.panel_c0bea0)) [class="subtitleContainer_f75fb0"] {
  width: calc(100% - 246px);
}

body:has(.panel_c0bea0) .subtitleContainer_f75fb0 {
  width: calc(100% - 372px) !important;
}

html:has(.sidebar_c48ade[data-collapsed="true"]) body:has(.panel_c0bea0) .subtitleContainer_f75fb0 {
  width: calc(100% - 372px + 16px) !important;
}


html:has(.sidebar_c48ade[data-collapsed="true"]) body:not(:has(.members_c8ffbb)) [class="subtitleContainer_f75fb0"] {
  width: calc(100% - 16px);
}

.visual-refresh .sidebarList_c48ade [class^="header_"] {
  background-color: rgba(0, 0, 0, 0);
  border: none !important;
  height: auto;
  z-index: 200;
  border-radius: 16px;
  margin-left: 8px;
  background: rgba(0, 0, 0, 0);

  [class^="headerContent_"] {
    height: auto;

    .guildIconV2Container__85d16 {
      display: none;
    }

    [class*="name_"] {
      font-size: 24px !important;
      font-weight: 400;
      line-height: normal;
      white-space: initial;

    }
  }
}

.visual-refresh .sidebarList_c48ade nav div[class*="clickable_"] {
  background-color: rgba(0, 0, 0, 0) !important;
}

[class^="chat_"] {
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
}

[class^="container_"]:has(> [class^="membersWrap_"]) {
  position: relative;
  top: -60px;
  height: calc(100% + 60px);
  border: none;
  background: none;

  [class^="member_"] {
    background: none;
  }

}

.members_c8ffbb,
.membersWrap_c8ffbb {
  background: rgba(0, 0, 0, 0) !important;
}

.visual-refresh [class*="barBase_"] {
  margin-top: 56px !important;
}

.visual-refresh .sidebarList_c48ade nav:not([class^="privateChannels_"]) [class^="scroller_"] {
  border-right: 1px solid var(--border-faint);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 97.5%, rgba(0, 0, 0, 0) 100%);
}

.sidebarList_c48ade nav {
  background: none !important;
}

[class*=toolbar_]>[class*=search_]>[class*=search_]:not([class*=open_]) {
  &>[class*=searchBar_] {
    width: 22px;
    background: transparent;
    border: none;
  }

  & [class*=icon_] {
    cursor: pointer;

    &>[class*=iconContainer_] {
      transform: scale(1.4);

      &>svg[class*=icon_] {
        color: var(--interactive-normal);
      }

      &:hover>svg[class*=icon_] {
        color: var(--interactive-active);
      }
    }
  }

  &:hover::before {
    position: absolute;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    word-wrap: break-word;
    z-index: 1002;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-normal);
    padding: 8px 12px;
    background-color: var(--background-floating);
    content: 'Search';
    box-shadow: var(--elevation-high);
  }

  &:hover::after {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-width: 5px;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: calc(100% - 1.7px);
    content: '';
    border-top-color: var(--background-floating);
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-top-width: 5px;
    transform: rotate(180deg);
  }
}

.sidebarList_c48ade,
.sidebarList_c48ade nav:not([class^="privateChannels_"]) {
  overflow: visible !important;
  border-top: none !important;
}

.visual-refresh .sidebarList_c48ade [class^="scroller_"] {
  padding: 0 !important;
  margin: 0 !important;
  width: calc(100% + 16px);

  &[data-list-id^="private-channels-uid_"] {
    margin-bottom: calc(var(--custom-app-panels-height)) !important;
  }
}

#app-mount li[class^="containerDefault_"] a,
[class*="basicChannelRowLink_"] {
  padding: 8px !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  [class^="children_"] {
    padding-right: 8px;
  }

}

[data-list-item-id^="channels___boosts-"] {
  padding-right: 16px;
  margin-bottom: 16px;
  pointer-events: all;
}

[class^="refreshVoiceChannelsButton_"] {
  width: calc(100% - 32px);
}

[class^="animatedBannerHoverLayer_"] {
  display: none;
}

#app-mount [class*="selectedChannel_"] a {
  background: var(--brand-500) !important;
}

.visual-refresh .sidebarList_c48ade .scroller__629e4::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.theme-dark.mouse-mode.full-motion .message__5126c:hover {
  background: transparent;
}

[class*=replying_],
[class*=highlighted_] {
  background: transparent;
}

[class^="animatedContainer_"] {
  position: absolute;
  width: 100vw;
  height: 350px !important;
  opacity: 1 !important;
  transform: translateX(-76px) translateY(-95px) !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom: none !important;
  pointer-events: none !important;
  box-shadow: none;
  filter: blur(5px);

}

.outer_c0bea0 {
  top: -56px;
  height: calc(100% + 56px);
  right: 6px;
  z-index: 0;
  transform: none !important;
}

.bannerImage_f37cb1 {
  transform: translateY(0px) scale(1) !important;
  pointer-events: none !important;
}

[class^="bannerImg_"] {
  width: 100vw !important;
  height: 300px !important;
  mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  pointer-events: none !important;
  transform: none !important;
}

/* compact msgs
*/

.theme-dark [class^=contents_]>[class*=messageContent_]:not(:empty) {
  margin-left: 0;
  padding: 12px 16px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border-bottom-left-radius: 0px !important;
  display: inline-block;
  max-width: calc(100% - 24px);
  box-shadow: 0px 10px 21px 13px rgba(0, 0, 0, 0.1);
}

.theme-dark [class^=contents_]:hover>[class*=messageContent_]:not(:empty) {
  background: rgba(0, 0, 0, 0.35);
}

.theme-dark [class*=mentioned_] [class^=contents_]>[class*=messageContent_]:not(:empty) {
  background: rgba(255, 200, 0, 0.25);
}

.theme-dark [class*=replying_][class*=groupStart_]>[class^=contents_]>[class*=messageContent_]:not(:empty) {
  background: var(--brand-700);
}

.theme-dark [class*=replying_]>[class^=contents_]>[class*=messageContent_]:not(:empty) {
  background: var(--brand-700);
}

.theme-dark [class*=replying_]:hover [class*=groupStart_]>[class^=contents_]>[class*=messageContent_]:not(:empty) {
  background: var(--brand-800);
}

.theme-dark [class*=replying_]:hover>[class^=contents_]>[class*=messageContent_]:not(:empty) {
  background: var(--brand-800);
}

[data-author-username="the.rabbit.disabler"] [class^=contents_]>[class*=messageContent_]:not(:empty) {
  background: var(--brand-500);
  -ms-flex-align: end;
  color: #ffffff;
}

[data-author-username="the.rabbit.disabler"] [class^=contents_]:hover>[class*=messageContent_]:not(:empty) {
  background: var(--brand-600);
  -ms-flex-align: end;
  color: #ffffff;
}


/* credit
*/

#app-mount .messageListItem__5126c[data-is-self="true"] {
  margin-left: auto;
  width: auto;
  padding-left: 48px;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .container_b7e1cb {
  direction: rtl;
  text-align: right;
  padding-right: 8px;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .groupStart__5126c:not(.markup__75297) {
  text-align: right;
  padding-right: 8px;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .groupStart__5126c>.contents_c19a55>.markup__75297 {
  text-align: left;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .contents_c19a55 {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: 8px;
}

#app-mount .messageListItem__5126c[data-is-self="true"].message__5126c.selected__5126c .contents_c19a55 {
  width: 100%;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .timestamp_c19a55 {
  left: unset;
  right: 8px;
  margin-top: 1.75px;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .replying__5126c .contents_c19a55 .messageContent_c19a55::before,
#app-mount .messageListItem__5126c[data-is-self="true"] .mentioned__5126c .contents_c19a55 .messageContent_c19a55::before {
  left: unset;
  right: 0;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .contents_c19a55 .messageContent_c19a55,
#app-mount .messageListItem__5126c[data-is-self="true"] a:not(.embed__623de .embedAuthorNameLink__623de),
#app-mount .messageListItem__5126c[data-is-self="true"] .repliedMessage_c19a55 {
  margin-left: auto;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 08px !important;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .embedAuthor__623de {
  direction: ltr;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .avatar_c19a55 {
  left: unset;
  right: 4px;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .avatarDecoration_c19a55 {
  left: unset;
  right: 0px;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .header_c19a55 {
  display: flex;
  flex-direction: row-reverse;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .header_c19a55 span {
  margin-left: 0.25rem;
  margin-right: unset;
}

#app-mount .messageListItem__5126c[data-is-self="true"]>.messageContent_c19a55 {
  overflow: visible;
}

#app-mount .messageListItem__5126c[data-is-self="true"] pre {
  max-width: 100%;
}

#app-mount .contents_c19a55 .messageContent_c19a55 {
  /* padding: 0; */
  margin-left: unset;
  width: fit-content;
  max-width: 750px;
}

#app-mount .contents_c19a55 .messageContent_c19a55>[class*="markup_"] {
  max-width: 750px;
}

#app-mount .contents_c19a55 {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

#app-mount .message__5126c {
  max-width: 100%;
}

/* #app-mount .message__5126c.compact_c19a55.wrapper_c19a55 .messageContent_c19a55 {
    display: flex;
} */

#app-mount .compact_c19a55.wrapper_c19a55 {
  padding-top: 8px;
  padding-bottom: 8px;
}

#app-mount .mentioned__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not(.messageListItem__5126c[data-is-self="true"]),
#app-mount .replying__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not(.messageListItem__5126c[data-is-self="true"]) {
  left: 4px;
}

#app-mount .mentioned__5126c .contents_c19a55 .messageContent_c19a55::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  z-index: 1;
}

#app-mount .repliedMessage_c19a55 {
  padding: 6px;
  width: fit-content;
  max-width: 100%;
}

#app-mount .replying__5126c .contents_c19a55 .messageContent_c19a55::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  z-index: 1;
}

#app-mount .messageListItem__5126c[data-is-self="true"] .repliedMessage_c19a55:before,
#app-mount .mentioned__5126c:before,
.replying__5126c:before,
.spine__9271d.cozy__9271d,
.message__5126c::after,
.repliedMessageClickableSpine_c19a55 {
  display: none;
}

/** 
 * moves message actions on message
 * by glaciercherrygatorade on discord
 */
[class*="buttonContainer"]:has([class*="buttons__"]) {
  transform: scale(0.85);
  position: absolute;
  top: 50%;
}

/* aligns self messages */
#app-mount .messageListItem__5126c[data-is-self="true"] [class*="buttonContainer"]:has([class*="buttons__"]) {
  margin-right: 100%;
  transform: scale(0.85) rotate(180deg) scaley(-1);

  .button_f7ecac {
    transform: scalex(-1);
  }
}

/* aligns non-groupStart messages */
.messageListItem__5126c>.message__5126c:not(.groupStart__5126c) {
  [class*="buttonContainer__"]>.buttons__5126c>.buttonsInner__5126c {
    margin-top: 10px;
  }
}
